<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add card</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="cardForm">
      <div class="form-group">
        <label for="card-title">Title</label>
        <div class="input-group">
          <input id="card-title" class="form-control" formControlName="title" required>
        </div>
      </div>
      <div class="form-group">
        <label for="card-descr">Description</label>
        <div class="input-group">
          <input id="card-descr" class="form-control" formControlName="description">
        </div>
      </div>
      <div class="form-group">
        <label for="card-assignee">Assignee</label>
        <div class="input-group">
          <input id="card-assignee" class="form-control" formControlName="assignee" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="!cardForm.valid" type="button" class="btn btn-outline-dark" (click)="modal.close()">Add</button>
  </div>
</ng-template>

<svg (click)="showAddModal(content)" width="5em" height="5em" viewBox="0 0 16 16" class="bottom-right bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
