<h1>SPB Card board</h1>
<div class="container">
  <div class="row board">
    <app-board-column class="col" [title]="'TODO'" state="TO DO"></app-board-column>
    <app-board-column class="col" [title]="'IN PROGRESS'" state="IN PROGRESS"></app-board-column>
    <app-board-column class="col" title="DONE" state="DONE"></app-board-column>

<!--    <div class="new-card-item-section">-->
<!--      <div class="input-group">-->
<!--        <input type="text" class="form-control" placeholder="Whant do you want to do?" aria-describedby="button-addon4">-->
<!--        <div class="input-group-append" id="button-addon4">-->
<!--          <button class="btn btn-outline-secondary" type="button">Create</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>

  <app-card-adder></app-card-adder>
</div>
